
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Shared/_RootLayout.cshtml";
}

<main class="lyear-layout-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <div class="card">
                    <div class="card-header"><h4>找回密码</h4></div>
                    <div class="card-body">
                        <form class="form-horizontal" action="/default/RetrievePassword" method="post" id="RetrievePasswordForm">
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="accountName">账号</label>
                                <div class="col-md-9 form-inline">
                                    <input class="form-control" style=" width:250px" type="text" id="accountName" name="accountName" placeholder="请输入登录账号..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="questionID">密保问题</label>
                                <div class="col-md-9 form-inline">
                                    <select class="form-control" id="questionID" name="questionID" style=" width:250px" size="1">
                                        <option value="0">请选择</option>
                                        @foreach (var item in ViewBag.Questions)
                                    {
                                        <option value="@item.ID">@item.QuestionContent</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="answer">答案</label>
                                <div class="col-md-9 form-inline">
                                    <input class="form-control" style=" width:250px" type="text" id="answer" name="answer" placeholder="请输入答案..">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3 ">
                                    <label></label>
                                    <button class="btn btn-primary " type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                        <input type="hidden" id="hid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section style{
    <style>
        #RetrievePasswordForm label.error {
            color: Red;
            font-size: 13px;
            margin-left: 5px;
            padding-left: 16px;
        }
    </style>
}
@section script{
    <script src="~/js/encode.js"></script>
    <script src="~/js/jquery.bootstrap.wizard.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#RetrievePasswordForm").validate({
                rules: {
                    accountName: {
                        required: true,
                        maxlength: 32
                    },
                    questionID: {
                        required: true,
                        min: 1
                    },
                    answer: {
                        required: true,
                        maxlength: 64
                    }
                },
                messages: {
                    accountName: {
                        required: "输入账号",
                        maxlength: "最大长度不能超过32"
                    },
                    questionID: {
                        required: "请选择密保问题",
                        min: "请选择密保问题",
                    },
                    answer: {
                        required: "请输入答案",
                        maxlength: "最大长度不能超过64"
                    }
                },
                submitHandler: function (form) {
                    $("#hid").val(base64encode($("#accountName").val()))
                    $(form).ajaxSubmit(function (data) {
                        if (data != undefined && data.isSuccess != undefined) {
                            if (!data.isSuccess) {
                                layer.alert(data.msg);
                            }
                            else {
                                if (data.code != undefined && data.code != "") {
                                    layer.alert(data.msg, function () {
                                        location.href = "/Default/ResetPassowrd?id=" + $("#hid").val();
                                    });
                                }
                                else {
                                    location.href = "/Default/ResetPassowrd?id=" + $("#hid").val();
                                }
                            }
                        }
                    });
                    return false;
                }
            });

            //var url = location.search;
            //if (parent !== window) {
            //    try {
            //        parent.location.href = url;
            //    } catch (e) {
            //    }
            //}
            //if (!url)
            //    return false;
            //if (url.indexOf("?msg=") != -1) {
            //    var str = url.substr(5);
            //    layer.alert(decodeURI(str), function () {
            //        location.href = "/";
            //    });
            //}
        });
    </script>

}
